<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="../images/html.png" class="html">
    <img src="../images/css.png" class="css">
    <img src="../images/js.png" class="js">
    <img src="../images/node.png" class="node">
    <img src="../images/sass.png" class="sass">
    <img src="../images/wordpress.png" class="wordpress">
    <img src="../images/mongodb.png" class="mongodb">
    <img src="../images/adobe.png" class="adobe">

    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
