<div class="user-details">
  <h1>About me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Tool box</h2>
    <img src="../images/html.png" class="html" id="html">
    <img src="../images/css.png" class="css" id="css">
    <img src="../images/js.png" class="js" id="js">
    <img src="../images/node.png" class="node" id="node">
    <img src="../images/sass.png" class="sass" id="sass">
    <img src="../images/wordpress.png" class="wordpress" id="wordpress">
    <img src="../images/local.png" class="local" id="local">
    <img src="../images/mongodb.png" class="mongodb" id="mongodb">
    <img src="../images/github.png" class="github" id="github">
    <img src="../images/construct.png" class="construct" id="construct">
    <img src="../images/photoshop.png" class="ps" id="adobe">
    <img src="../images/illustrator.png" class="ai" id="adobe">
    <img src="../images/flash.png" class="fl" id="adobe">
    <img src="../images/dreamweaver.png" class="dw" id="adobe">
    <img src="../images/aftereffects.png" class="ae" id="adobe">
    <img src="../images/audition.png" class="au" id="adobe">
    <img src="../images/c++.png" class="c++" id="c++">
    <img src="../images/csharp.png" class="csharp" id="csharp">

    <p>"Breaking out of established patterns to look at things in a different way."</p>
    <p>-A wild mind with a disciplined eye.</p>
  </div>
</div>
